

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
    /* background-color: rgb(235, 232, 232); */
  }
a {
    text-decoration: none;
    color: white;
}

.dr-down {
    width: 50%;
}

.redSearch {
    height: 130px;
    border: 1px solid red;
    background-color: #e42529;
    color: white;
    position: relative;
}

.top {
    width: 25%;
    height: 30px;
    color:  white;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    padding: 16px 12px;

}
.fa-solid {
color: white;
font-size: 20px;
margin-right: 5px;
}

ul {
    list-style: none;
    display: flex;
    align-content: center;
    gap: 10px;
    font-weight: 700;
}
li {
    display: flex; 
    gap: 5px;
    align-self: baseline;
}
ul > li > h2 {
    padding-top: 0;
    font-size: 130%;
    font-weight: 100;
}

.bottom {
    max-width: 95%;
    margin: auto;
    margin-top: 52px;
    display: flex;
    align-items: center;
    position: relative;
}
.bottom img {
    width: 186px;
}
.search {
    display: flex;
    width: 40%;
    margin-left: 120px;
    margin-right: 20px;
}

.bottom > .search > input {
    width: 73%;
    height: 45px;
    font-size: 18px;
    padding-inline: 18px;
}
.search-item{
    border: none;
    background-color: #44adfb;
    color: white;
    text-align: center;
    font-size: 18px;
    width: 25%;
}
.cart-login {
    height: 35px;
     color: white;
     display: flex;
     margin-left: 100px;
     padding: 20px 5px;
     align-items: center;
}
.cart-login > h4 {
    padding-top: -10px;
}

/* Nav */
nav {
    height: 50px;
    background-color: #1f4985;
   
}
.nav-content {
    max-width: 100%;
    margin-inline: auto;
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-inline: 8px;
}
.nav-option {
    height: 100%;
    display: flex;
    padding: 14px 8px 15px 8px;
    gap: 10px;
    margin-top: 0px;
    font-weight: light;
    /* background: #1f4985 url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat; */
}
.fa-v {
    font-size: 13px;
}

nav > li > p {
    color: white;
}
/* Hover */
.nav-option:hover {
    background-color: #e42529;
}



#main{
    display: flex;
    border: 4px solid red;
}

#left{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    width:  59%;
    height: 400px; 
    margin-left: 20px; 
    background-color: #1f4985;
}
.lt > ul{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.lt ul li{
    list-style: none;
    padding: 7px;
}
.lt ul li a{
    text-decoration: none;
    color: white;
}
.lt ul li a:hover{
  cursor: pointer;
}
.txt:hover {
 text-decoration: underline;
}
#first{
 font-weight: 900;
    
}
#right{
    background-color:#1f4985;
    /* border: 2px solid red; */
    position: relative;
    width: 30%;
}
#right>img{
   /* margin-left: 60px; */
   width: 700px;
   position: absolute;
   /* height: 100%; */
} 












/* Slider */
.wrapper {
  width: 100%;
  overflow: hidden;
  height: 350px;
}

.slides-container {
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
    height: 500px;
    position: relative;
    /* border: 8px solid hotpink;   */
}

.slide-image {
    width: 100%;
    height: 65%;
    position: absolute;
}

.slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.next-btn, .prev-btn {
    background: grey;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    z-index: 100;
    cursor: pointer;
    transition: 400ms;
}

.next-btn:hover, .prev-btn:hover {
    color: grey ;
}

.prev-btn {
    left: 0;
    top: 150px;
}

.next-btn {
    right: 0;
    top: 150px;
}

.navigation-dots {
    z-index: 4000;
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    position: absolute;
    top: 450px;
    left: 40%;
}

.single-dot {
    background-color: #aaacb2;
    height: 8px;
    width: 8px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: 400ms;
    margin: 0 11px;
   
}

.single-dot.active {
    background-color: #3f3f3f;
}

/* 1st Integration */
#staycool{
    justify-content: space-around;
    margin-top: 45px; 
    display: flex;
    justify-content: space-evenly;
    height: 260px;
}

#staycool>img{
    width: 22%;
    margin-top: 18px;
    margin-left: -2%;
    margin-bottom: 32px;
}

.title{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: Roboto,"system-ui",sans-serif;
    margin-top: 10px;
    color: #333333;
    margin-left: 2%;
}
.pro-name {
    margin-top: 50px;
    margin-bottom: -3px;
}
.title3 {
    font-size: 30px;
    font-weight: 100;
    font-family: Roboto,"system-ui",sans-serif;
    top: 50%;
    color: #333333;
    margin-left: 2%;
    display: block;
}

/* 2nd Integration */

#latesttechnology{
    justify-content: space-around;
    margin-top: 45px; 
    display: flex;
    justify-content: space-evenly;
    height: 260px;
}

#latesttechnology>img{
    width: 22%;
    margin-top: 18px;
    margin-left: -2%;
}

.title2 > span{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: Roboto,"system-ui",sans-serif;
    margin-top: 10px;
    color: #333333;
    margin-left: 2%;
}

/* 3rd Intgration */

#iphone13{
    justify-content: space-around;
    margin-top: 45px; 
    display: flex;
    justify-content: space-evenly;
    height: 260px;
}

#iphone13 > img{
    width: 22%;
    margin-top: 18px;
    margin-left: -2%;
}
/* ____________________________________________________ */


/* _______________________________________________________ */
 /* 5th Integration -> Slider  */
.pro {
    margin-top: 4%;
    margin-bottom: -2%;
}

.h3-sli {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: Roboto,"system-ui",sans-serif;
    margin-top: 10px;
    color: #333;
    text-align: center;
}
.slide > h3 {
    color: #333333;
}
.slide > h3:hover {
    color: #28508a;
}


.container{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
   height: 300px;
}

.slide img{
    display: inline-block;
   width:110%;
   height:110%;
   object-fit: contain;
   object-position: center;
   transform: translateY(10%);
}
.caption{
    box-sizing: border-box;
    text-align: center;
    color: #1f4985;
    font-weight: bold;
    font-weight: 400;
    margin-top: 16px;
    font-size: 26px;
}
   

.arrow{
    cursor: pointer;
    position:absolute;
    top: calc(50% - 33px) ;
    color: black;
    background-color: none;
    padding: 42px 18px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.next{
    right: 10px;
}
.prev{
    left: 10px;
}
.slide{
    /* display: none; */
    width: 200px;
    height: 224px;
    margin: 10px;
}

/* View All Button */

.view {
    font-size: 22px;
    padding: 13px 40px;
    background-color: #003380;
    border-radius: 26px;
    display: inline-block;
    margin-top: 4.5%;
    margin-left: 45%;
}
.view:hover {
    background-color: white;
    color: #003380;
    border: 1px solid #003380;
}

/* Integration Watch */
#boatwatch{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px
    
}
span{
    display: block;
}
.stars{
    color:rgb(255, 164, 27) ;
}
.redcolorpara{
    color:#3f669f ;
}
.redcolorpara:hover{
    color: red;
}
.grey{
    color:#8d8d8d;
}
#boatwatch{
    display: flex;
    cursor: pointer;
    /* margin-left: -15px;
margin-right: -15px; */
}

.button{
    color: green;
    border-radius: 10px;
    border: 1px solid green;
    cursor: pointer;
}
.boat_images{
    width: 180px;
    height: 180px;
}
#left_watch{
   display: grid;
   grid-template-columns: repeat(1,1fr);
}
.leftwatch{
   justify-content: center;
   height: 269px; 
   width: 280px;
   margin-right: 15px;
}
#container{
   display: flex;
  justify-content: space-between;
  margin: auto;
  border: solid gray;
}


/* Features of Company */

#feturesofreliance{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

#feturesofreliance>div{
    background-color: rgb(240, 238, 238);
    width: 24%;
    margin: auto;
    height: 100px;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #f7f7f7;
}
.a{
    height: 40px;
    width: auto;
    justify-content: center;
    display: flex;
}
.b{
    color: #003380;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 0;
    text-align: center;
}
.ser {   
    padding-top: 6px;
}
/* #feturesofreliance > img {
    padding: 4px;
} */

.h4-feat {
    color: #003380;
    font-size: 26px;
    margin-top: 2%;
    text-align: center;
}

#feturesofreliance {
    margin-top: 3.2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 5px;
    padding-top: 8px;
}

/* Testing _____________________________________________________________________ */



.splide__slide {
    padding: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    background: #ecf0f1;
}

.splide__slide__container{
    /* border: 2px solid purple; */
    width: 400px;
    /* height: 60%; */
    text-align: center;
    /* margin-top: -20%; */
    /* background-color: rgb(255, 226, 232); */
}


.splide__arrow {
    background: none;
    font-size: larger;
    margin-top: 2%;
    /* fill: red; */
}
.splide__arrow:hover {
    background: none;
    cursor: pointer;
   fill: lightgray;
}

/* .splide__arrow--prev { */
    /* margin-left: 20px; */
/* } */

/* .splide__arrow--next { */

    /* margin-right: 20px; */
/* } */

.slide__content {
    margin: 1rem 0;
    font-size: 1.3rem;
    /* border: 3px solid slateblue; */
}

.slide-img__wrapper {
    display: flex;
    align-items: center;
    
}

.slide-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}


.splide__pagination {
    /* border: 1px solid red; */
    display: inline-block;
    position: absolute;
    max-height: 25px;
    /* top: 10px;	*/
    width: 150px;
    top: 360px;
}

.splide__pagination__page:hover {
    background-color: grey;
}

.slide__content > img {
        object-fit: cover;
        height: 60%;
        width: 1700px;
        transform: translate(-35%,15%);
        position: relative; 
    }


    /* TOSHIBA */
        svg {
            fill: #333333;
        }
        svg:hover {
            fill: gray;
        }
        
        /* INSIDE BOX CSS*/

        

   .boxn > button:hover {
    background-color: green;
    color: white;
    }
    .boxn {
        margin-top: 5rem;
        margin-inline: 2.5rem;
        display: block;
        padding-inline: 2.5%;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(auto);
        gap: 10px;
        margin-left: 5px;
        border-radius: 15px;
        font-family: Roboto,"system-ui",sans-serif;
        font-weight: 400;
        position: relative;
        /* background-color: rgb(247, 241, 229); */
    }

    .boxn > p:nth-child(1) {
        margin-top: 1%;
    }
    .boxn > img {
        object-fit: cover;
        width: 230px;
        height: 230px; 
        transform: translate(1%,-5%);
        /* border: 4px solid gold; */
        position: relative;
    }
        
    .boxn > p {
        margin: -5px;
        margin-bottom: 2%;
        font-size: 17px;
        color: #565656;
        font-family: Roboto,"system-ui",sans-serif;
        position: absolute;
        left: 20px;
    }
    ul > .boxn > p:first-child {
        font-size: 0%;
    }
    .p1 {
    bottom: -50px;
    right: 75px;
    /* left: 15px; */
    /* margin:3px 0; */
    }
    .p2 {
    bottom: -70px;
    right: 140px;
    /* margin: 40px 0; */
    }
    .p3 {
    bottom: -90px;
    right: 88px;
    }

    .boxn > button{
        color: green;
        border: 1px solid green;
        padding: 0 1%;
        border-radius: 20px;
        margin-top: -1%;
        letter-spacing: 1px;
        font-size: 60%;
        position: absolute;
        left: 40px;
        bottom: -120px;
        /* top: 150px; */
        }

    .titlen {
    color: rgb(3, 3, 243);
    }
    .titlen:hover {
    color: red;
    }

    .boxn > a {
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    /* margin-bottom: 40px; */
    }
    .boxn > a > p:first-child {
    /* color: red; */
    margin-bottom: 20px;
    }

    .bgn {
    font-size:135%;
    color: black;
    font-weight: bold;
    display: inline;
    }
    .dshn {
    text-decoration: line-through;
    display: inline;
    }



    /* Footer */

    #fcontainer{
        height: 500px;
        width: 100%;
        font-family: Roboto,"system-ui",sans-serif;
        background-color: #1f4985;
        margin: auto;
        display: flex;
        position: relative;
        
    }
    .box1{
        height: 430px; 
        width: 25%;
        /* border: 1px solid black; */
        color: white;
    }
    .box1 > p {
        margin-top: 20px;
        font-size: 16px;
        margin-left: 35px;
    }
    .box1 > h3 {
        margin-top: 20px;
        font-size: 20px;
        margin-left: 35px;
    }
    .box2{
        height: 300px; 
        width: 25%;
        /* border: 1px solid black; */
        color: white;
    }
    .box2 > h3 {
        margin-top: 20px;
        font-size: 20px;
        margin-left: 35px;
    }
    .box2 > p {
        margin-top: 20px;
        font-size: 16px;
        margin-left: 35px;
    }
    .box3{
        height: 300px; 
        width: 25%;
        /* border: 1px solid black; */
        color: white;
    }

    .box3 > h3 {
        margin-top: 20px;
        font-size: 20px;
        margin-left: 35px;
    }
    .box3 > p {
        margin-top: 20px;
        font-size: 16px;
        margin-left: 35px;
    }
    

    .box4{
        height: 430px; 
        width: 25%;
        color: white;
    }

    .box4 > h3 {
        margin-top: 20px;
        font-size: 20px;
        margin-left: 35px;
    }
    .box4 > p {
        margin-top: 20px;
        font-size: 16px;
        margin-left: 35px;
    }

    .box5 > img{
        height: 38px;
        background-color: #1f4985;
        margin-bottom: 90px;
        margin-left: 35px;
        border-radius: 5px;
    
    }
   
    .box5{
        /* height: 25%;s */
        width: 25%;
        /* border: 1px solid yellow;    */
        position: absolute;
        bottom: 50px;
        left: 350px;
        bottom: -15%;
        color: white;
    }

    .box5 > img {
        margin-top: 20px;
        width: 38%;
        height: 40%;
        margin-left: 0px;
        margin-inline: 5px;
        /* border: 2px solid red; */
    }
    .fa-facebook-f{
        margin: 20px;
        margin-right: 10px;
        margin-left: 40px;
    }
    .fa-twitter{
        margin: 20px 10px;
    }
    .fa-youtube{
        margin: 20px 10px;
    }
    hr {
        margin-top: 15px;
        border: 0.01px solid;
    }
    .box6{
        height: 80px;
        width: 100%;
        border: none;
        border: 1px solid #0a244a;
        background-color: #0a244a;
        margin-top: none;
    }
    .box6>p{
        margin-top: 15px;
        color: white;
        text-align: center;
    }

